body, html {
    min-height: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/bkeventus.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    color: #ffffff;
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*-- Start of the Header --*/

/*-- End of the Header --*/

/*-- Start of the Web Main Content --*/
    #webmain {
        margin-top: 90px;
    }

/*-- End of the Web Main Content --*/

/*-- Start of the Footer --*/
    #footer {
         bottom: 0;
         padding-top: 20px;
     }
    #footer div.container-fluid {
        padding-top: 10px;
    }
    #footer img {
        width: 130px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    #footer i.fa.fa-facebook-square, i.fa.fa-twitter, i.fa.fa-google-plus-circle, i.fa.fa-youtube-play {
        font-size: 25px;
        line-height: 38px;
        margin: 2px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
    #footer i.fa.fa-facebook-square{
        color: #3B5998;
    }
    #footer i.fa.fa-twitter{
        color: #00aced;
    }
    #footer i.fa.fa-google-plus-circle{
        color: #DC4E41;
    }
    #footer i.fa.fa-youtube-play{
        color: #FF0101;
    }
/*-- End of the Footer --*/